@font-face {
    font-family: Acumin;
    src: url(FONTS/AcuminVariableConcept.otf);
}

@font-face {
    font-family: Helvetica2;
    src: url(FONTS/helvetica-255/Helvetica.ttf);
}

@font-face {
    font-family: Helvetica3;
    src: url(FONTS/helvetica-255/helvetica-light-587ebe5a59211.ttf);
}




body:hover{
    cursor: default;
}
.bodyimage{
    background-image: url(OTHER\ ASSESTS/skyline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    opacity: 90%;
}
.muralbackground{
    background-image: url(MURAL\ ASSESTS/muralbackground3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    opacity: 100%;
}
.graffitiguy{
    position: absolute;
}
.graffititext2{
    position: relative;
}

.muralssection{
    padding-top: 0px;
}
.bosquetag{
    position: absolute;
    top: 200px;
    left: 1000px;
    width: 40%;
}




h1 {
   font-family: Acumin; 
}
.homepagetitle {
    line-height: 350px;
    padding-top: 80px;
    font-size: 450px;
    font-variation-settings: 'wght' 900, 'wdth' 115, 'slnt' 0;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: -50px;
}
.cword:hover{
    color: #A8E6CF;
}
.iword:hover{
    color: #DCEDC1;
}
.tword:hover{
    color: #FFD3B6;
}
.yword:hover{
    color: #FFAAA5;
}

.artword2{
    letter-spacing: 90px;
}
.aword:hover{
    color: #A8E6CF;
}
.rword:hover{
    color: #DCEDC1;
}
.tword2:hover{
    color: #FFD3B6;
}


.muralstitle{
    font-size: 400px;
    font-variation-settings: 'wght'500;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -15px;
    opacity: 90%;
}
.Mletter:hover{
    color: #A8E6CF;
}
.Uletter:hover{
    color: #DCEDC1;
}
.Rletter:hover{
    color: #FFD3B6;
}
.Aletter:hover{
    color: #FFAAA5;
}
.Lletter:hover{
    color: #FF8B94;
}
.Sletter:hover{
    color: #A8E6CF;
}

.graffitititle{
    font-size: 380px;
    font-variation-settings: 'wght'500;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -15px;
}
.Gletter2:hover{
    color: #A8E6CF;
}
.Rletter2:hover{
    color: #DCEDC1;
}
.Aletter2:hover{
    color: #FFD3B6;
}
.Fletter2:hover{
    color: #FFAAA5;
}
.Fletter3:hover{
    color: #FF8B94;
}
.Iletter2:hover{
    color: #A8E6CF;
}
.Tletter2:hover{
    color: #DCEDC1;
}
.Iletter3:hover{
    color: #FFD3B6;
}

.bosquetitle{
    font-size: 200px;
    font-variation-settings: 'wght'500;
    margin-top: 50px;
    margin-bottom: -35px;
    margin-left: 70px;
    position: relative;
}

.Bletter3:hover{
    color: #A8E6CF;
}
.Oletter3:hover{
    color: #DCEDC1;
}
.Sletter3:hover{
    color: #FFD3B6;
}
.Qletter3:hover{
    color: #FFAAA5;
}
.Uletter3:hover{
    color: #FF8B94;
}
.Eletter3:hover{
    color: #A8E6CF;
}









h2 {
    font-family: Helvetica2;
}
.homepagelinks {
    font-size: 60px;
    letter-spacing: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 190px;
}
.muralslink{
    text-decoration-line: none;
    color: black;
}
.muralslink:hover{
    color: #A8E6CF;
}
.graffitilink{
    text-decoration-line: none;
    color: black;
}
.graffitilink:hover{
    color: #FF8B94;
}



p {
    font-family: Helvetica2;
}
.artword:hover{
    color: #FFD3B6;
    font-weight: bold;
}
.artword{
    color: #DCEDC1;
}
.collectionword:hover{
    color: #DCEDC1;
    font-weight: bold;
}
.collectionword{
    color: #A8E6CF;
}
.aroundword:hover{
    color: #FFAAA5;
    font-weight: bold;
}
.aroundword{
    color: #FFD3B6;
}
.streetsword:hover{
    color: #FF8B94;
    font-weight: bold;
}
.streetsword{
    color: #FFAAA5;
}
.twincitiesword:hover{
    color: #A8E6CF;
    font-weight: bold;
}
.twincitiesword{
    color: #FF8B94;
}
.homepagetype {
    text-align: center;
    font-size: 80px;
    max-width: 1000px;
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}


.muralstext{
    text-align: center;
    font-size: 80px;
    max-width: 1000px;
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    opacity: 90%;
}
.tiwncitiesword2{
    color: #A8E6CF;
}
.tiwncitiesword2:hover{
    color: #DCEDC1;
    font-weight: bold;
}
.fullword{
    color: #DCEDC1;
}
.fullword:hover{
    color: #FFD3B6;
    font-weight: bold;
}
.muralsword{
    color: #FFD3B6;
}
.muralsword:hover{
    color: #FFAAA5;
    font-weight: bold;
}.diverseword{
    color: #FFAAA5;
}
.diverseword:hover{
    color: #FF8B94;
    font-weight: bold;
}.communitiesword{
    color: #FF8B94;
}
.communitiesword:hover{
    color: #A8E6CF;
    font-weight: bold;
}




.graffititext{
    text-align: center;
    font-size: 65px;
    max-width: 1000px;
    letter-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.graffitiword {
    color: #A8E6CF;
}
.graffitiword:hover {
    color: #DCEDC1;
    font-weight: bold;
}
.illegalword {
    color: #DCEDC1;
}
.illegalword:hover {
    color: #FFD3B6;
    font-weight: bold;
}.dangerousword {
    color: #FFD3B6;
}
.dangerousword:hover {
    color: #FFAAA5;
    font-weight: bold;
}.controversialword {
    color: #FFAAA5;
}
.controversialword:hover {
    color: #FF8B94;
    font-weight: bold;
}.artword3 {
    color: #FF8B94;
}
.artword3:hover {
    color: #A8E6CF;
    font-weight: bold;
}.collectionword2 {
    color: #A8E6CF;
}
.collectionword2:hover {
    color: #DCEDC1;
    font-weight: bold;
}.graffitiword2 {
    color: #DCEDC1;
}
.graffitiword2:hover {
    color: #FFD3B6;
    font-weight: bold;
}.tiwncitiesword3 {
    color: #FFD3B6;
}
.tiwncitiesword3:hover {
    color: #FFAAA5;
    font-weight: bold;
}.ownword {
    color: #FFAAA5;
}
.ownword:hover {
    color: #FF8B94;
    font-weight: bold;
}.consensusword {
    color: #FF8B94;
}
.consensusword:hover {
    color: #A8E6CF;
    font-weight: bold;
}.artword4 {
    color: #A8E6CF;
}
.artword4:hover {
    color: #DCEDC1;
    font-weight: bold;
}.howword {
    color: #DCEDC1;
}
.howword:hover {
    color: #FFD3B6;
    font-weight: bold;
}
.treatedword {
    color: #FFD3B6;
}
.treatedword:hover {
    color: #FFAAA5;
    font-weight: bold;
}

.bosquetext {
    text-align: justify left;
    font-size: 50px;
    max-width: 900px;
    letter-spacing: 5px;
    padding-bottom: 20px;
    margin-left: 90px;
    position: relative;
}
.graffitiartist {
    color: #A8E6CF;
}
.graffitiartist:hover {
    color: #DCEDC1;
    font-weight: bold;
}
.BOSQUEword {
    color: #DCEDC1;
}
.BOSQUEword:hover {
    color: #FFD3B6;
    font-weight: bold;
}
.quicktagsword {
    color: #FFD3B6;
}
.quicktagsword:hover {
    color: #FFAAA5;
    font-weight: bold;
}
.largescaleword {
    color: #FFAAA5;
}
.largescaleword:hover {
    color: #FF8B94;
    font-weight: bold;
}
.uniqueword {
    color: #FF8B94;
}
.uniqueword:hover {
    color: #A8E6CF;
    font-weight: bold;
}




footer{
    font-family: Helvetic2;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 400px;
    padding-bottom: -10px;
    align-items: baseline;
    font-weight: bold;
}

a{
    font-family: Helvetica2;
}


.footerlink{
    text-decoration: none;
    color: black;
}
.footerlink:hover{
    color: #FF8B94;
    font-weight: bolder;
}

.footerlink2{
    text-decoration: none;
    color: black;
    margin-top: 330px;
}
.footerlink2:hover{
    color: #FF8B94;
    font-weight: bolder;
}

.home{
    text-decoration: none;
    color: #FFAAA5;
    margin-left: 70px;
    padding-top: 50px;
    font-size: 40px;
    display: flex;
    align-items: center;
}
.home:hover{
    color: #A8E6CF;
    font-weight: bold;
}

.arrow {
    border: solid #FFAAA5;
    border-width: 0 3px 3px 0;
    display:inline-block;
    padding: 8px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .arrow:hover{
    color: #A8E6CF;
  }





.muralimage1{
    width: 787.5px;
    height: 787.5px;
    margin-left: 70px;
  }

.graffitiimage1{
    size: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 80px;
    border: solid;
    border-width: 5px;
}
.graffitiimage2{
    size: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 80px;
    border: solid;
    border-width: 5px;
}
.graffitilink2{
    color: #DCEDC1;
}
.graffitilink2:hover{
    color: #FFD3B6;
}
.graffitiimage3{
    size: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 80px;
    border: solid;
    border-width: 5px;
    border-color: #FFD3B6;
}
.graffitiimage4{
    size: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 80px;
    border: solid;
    border-width: 5px;
    border-color: #FFAAA5;
}
.graffitiimage5{
    size: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 80px;
    border: solid;
    border-width: 5px;
    border-color: #FF8B94;
}
.graffitiimage6{
    size: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 80px;
    border: solid;
    border-width: 5px;
    border-color: #A8E6CF;
}
.graffitiimage7{
    size: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 80px;
    border: solid;
    border-width: 5px;
    border-color: #DCEDC1;
}
.graffitiimage8{
    size: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 80px;
    border: solid;
    border-width: 5px;
    border-color: #FFD3B6;
}
.graffitiimage9{
    size: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 80px;
    border: solid;
    border-width: 5px;
    border-color: #FFAAA5;
}
.imagelink{
    color: #A8E6CF;
}
.imagelink:hover{
    color: #DCEDC1;
}



.muralslayout{
    display: flex;
    gap: 100px;
    align-items: center;
    margin-bottom: 0px;
    padding-top: 0px;
}
.muraltext1{
    font-size: 40px;
}
.muraltext2{
    font-size: 40px;
    margin-left: 100px;
}

  .muralslayout2{
    display: flex;
    gap: 300px;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 50px;
}
.muralimage2{
    margin-right: 60px;
}

.gretamclain{
    text-decoration: none;
    color: #DCEDC1;
}
.gretamclain:hover{
    font-weight: bolder;
    color: #FFD3B6;
}


.bosqueimage1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .bosqueimages {
    display: flex;
  }
  .bosqueimages2 {
    display: flex;
  }

.construction{
    background-image: url(OTHER\ ASSESTS/underconstruction.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

