@font-face {
    font-family: Acumin;
    src: url(FONTS/AcuminVariableConcept.otf);
}

h1 {
    font-size: 450px;
    font-family: Acumin;
    font-variation-settings: 'wght' 900, 'wdth' 115, 'slnt' 0;
    text-align: center;
}

.homepagetitle {
    line-height: 350px;
    padding-top: 80px;
}
